@model BugTracker.Models.Project
@using BugTracker.Enums
@using BugTracker.Models.Enums
@using BugTracker.Services
@using BugTracker.Services.Interfaces
@using BugTracker.Data

@inject IImageService ImageService
@inject IBTProjectService ProjectService
@inject IBTRolesService RolesService

@{
    ViewData["Title"] = "Details";
}


<a asp-action="Index" asp-controller="Home">Back to Dashboard</a>
<h1>Details</h1>

<ul class="list-unstyled basic-list">
    <li>Start Date: <span class="">@Model.StartDate.ToString("MM.dd.yyyy")</span></li>
    <li>Deadline: <span class="">@Model.EndDate.ToString("MM.dd.yyyy")</span></li>
    <li>Deadline: <span class="">@Model.ProjectPriority!.Name</span></li>


    @if (DataUtility.GetPostGresDate(DateTime.Now) < Model.StartDate && DataUtility.GetPostGresDate(DateTime.Now) >= Model.StartDate)
    {
        <li>Status: <span class="">Active</span></li>
    }
    else
    {
        <li>Status: <span class="">Inactive</span></li>
    }
</ul>

<div class="progress-container progress-info m-b-25">
    <span class="progress-badge" style="font-size:small">Project Status</span>
    <div class="progress">
        @* Razor code block *@
        @{
            var start = Model.StartDate;
            var end = Model.EndDate;
            var today = DateTime.Now;
            var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
        }
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
            @* Use Progress Bar code variable here *@
            <span class="progress-value">@percent%</span>
        </div>
    </div>
</div>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageData)
        </dt>
        <dd class="col-sm-10">
            <img src="@ImageService.ConvertByteArrayToFile(Model.ImageData!, Model.ImageType!,(int)DefaultImage.ProjectImage)" alt="@Html.DisplayFor(modelItem => Model.Name)" style="width:40%; height:40%">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Archived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Archived)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectPriority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectPriority.Name)
        </dd>
    </dl>


</div>

<div>
    @{
        BTUser? projectManager = await ProjectService.GetProjectManagerAsync(Model.Id)!;

        if (projectManager != null)
        {
            <h3>Project Manager</h3>
            <span>@projectManager.FullName</span>
        }
        else
        {
            <span><a asp-action="AssignProjectManager" asp-route-id="@Model.Id">Assign PM</a></span>
        }
    }
</div>
<div>
    <h3>Team Members</h3>
    @foreach (BTUser user in Model.Members)
    {

        <p>@user.FullName</p>
    }
</div>

<div>
    <h3>Tickets</h3>
    @foreach (Ticket ticket in Model.Tickets)
    {
        <p>@ticket.Title</p>
    }

</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
