@model BugTracker.Models.Project
@using BugTracker.Enums
@using BugTracker.Models.Enums
@using BugTracker.Services
@using BugTracker.Services.Interfaces
@using BugTracker.Data
@using BugTracker.Extensions

@inject IImageService ImageService
@inject IBTProjectService ProjectService
@inject IBTRolesService RolesService
@inject IBTTicketService _ticketService

@{
    ViewData["Title"] = "Details";
}


<a asp-action="Dashboard" asp-controller="Home">See Dashboard</a>
<a asp-action="Index" asp-controller="Projects">See Current Tickets</a>
@if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
{
    <a asp-action="ArchivedProjects" asp-controller="Projects">See Archived Projects</a>
}


<h1>Details</h1>

<ul class="list-unstyled basic-list">
    <li>Start Date: <span class="">@Model.StartDate.ToString("MM.dd.yyyy")</span></li>
    <li>Deadline: <span class="">@Model.EndDate.ToString("MM.dd.yyyy")</span></li>
    <li>Deadline: <span class="">@Model.ProjectPriority!.Name</span></li>


    @if (DataUtility.GetPostGresDate(DateTime.Now) < Model.StartDate && DataUtility.GetPostGresDate(DateTime.Now) >= Model.StartDate)
    {
        <li>Status: <span class="">Active</span></li>
    }
    else
    {
        <li>Status: <span class="">Inactive</span></li>
    }
</ul>

<div class="progress-container progress-info m-b-25">
    <span class="progress-badge" style="font-size:small">Project Status</span>
    <div class="progress">
        @* Razor code block *@
        @{
            var start = Model.StartDate;
            var end = Model.EndDate;
            var today = DateTime.Now;
            var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
        }
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
            @* Use Progress Bar code variable here *@
            <span class="progress-value">@percent%</span>
        </div>
    </div>
</div>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageData)
        </dt>
        <dd class="col-sm-10">
            <img src="@ImageService.ConvertByteArrayToFile(Model.ImageData!, Model.ImageType!,(int)DefaultImage.ProjectImage)" alt="@Html.DisplayFor(modelItem => Model.Name)" style="max-width:40%;">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Archived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Archived)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectPriority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectPriority.Name)
        </dd>
    </dl>


</div>

<div>
    @{
        BTUser? projectManager = await ProjectService.GetProjectManagerAsync(Model.Id)!;

        if (projectManager != null)
        {
            <h3>Project Manager</h3>
            <span>@projectManager.FullName</span>
        }
        else
        {
            <span><a asp-action="AssignProjectManager" asp-route-id="@Model.Id">Assign PM</a></span>
        }
    }
</div>
<div>
    <h3>Team Members</h3>
    @foreach (BTUser user in Model.Members)
    {

        <p>@user.FullName</p>
    }
</div>

<div>
    <h3>Tickets</h3>
    @foreach (Ticket ticket in Model.Tickets)
    {
        <section class="@(ticket.TicketPriority.GetSectionPriority()) mb-3">

            <header class="card-header px-3 py-2 row row-cols-2">
                <div class="col">
                    @if (ticket.TicketPriority.Name != null)
                    {
                        @if (ticket.TicketPriority.Name == nameof(BTTicketPriorities.Urgent))

                        {
                            <div class="card-title"><i class="bi bi-exclamation-circle"></i><span class="mx-2">@ticket.Title</span></div>
                        }

                        else
                        {
                            <div class="card-title">@ticket.Title</div>
                        }
                    }
                    <div class="card-subtitle ">Project: @ticket.Project.Name</div>
                </div>
                <div class="col text-end text-light my-auto">
                    <a asp-action="Details" id="detailsIconLight" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="bi bi-card-list mx-1"></i></a>
                    <a asp-action="Edit" asp-controller="Tickets" id="editIconLight" class="mx-3" asp-route-id="@ticket.Id"><i class="bi bi-pencil-fill"></i></a>
                    <a asp-action="Archive" id="deleteIconLight" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="bi bi-archive-fill editIconsLight"></i></a>
                </div>
            </header>

            <div class="card-body row">
                <div class="row">
                    <div class="fw-bold">Description</div>
                    <p>@ticket.Description</p>
                </div>

                <hr />
                <div class="row row-cols-1 row-cols-md-4">
                    <div class="col">
                        <div class="fw-bold">Priority</div>
                        <div>@ticket.TicketPriority.Name</div>
                    </div>
                    <div class="col">
                        <div class="fw-bold">Created Date</div>
                        <div>@ticket.CreatedDate</div>
                    </div>
                    <div class="col">
                        <div class="fw-bold">Submitter</div>
                        <div>@Html.DisplayFor(modelItem => ticket.SubmitterUser.FullName)</div>
                    </div>
                    <div class="col">
                        <div class="fw-bold">Developer</div>
                        @if (ticket.DeveloperUser == null)
                        {
                            <div><a asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-ticketId="@ticket.Id">Assign Developer</a></div>
                        }
                        else
                        {
                            <div>@ticket.DeveloperUser.FullName</div>
                        }

                    </div>

                </div>
            </div>
        </section>
    }

</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
